* 
{
    box-sizing: border-box;
}
  
body 
{
    font-family: Arial;
    font-size: 19px;
    padding: 10px;
}
 
html
{
    background: url(img/wallpaper.jpg);
    background-size: 100%;
    min-width: 100%;
    min-height: 100%;
}

.header 
{
    padding: 20px;
    text-align: center;
    background: rgb(236, 236, 222);
}
  
.header h1 
{
    font-size: 50px;
}

section h2
{
    display: block;
    color: white;
    background-color: #333;
    text-align: left;
    padding: 10px 10px;
    font-size: 20px;
}

section
{
    padding-bottom: 10px;
    padding-top: 10px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 22px;
}

#menu ul li 
{
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

#menu ul 
{
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#connaissances p
{
    margin: 0 auto;
}

#avancement
{
    position: relative;
    display: flex;
    left:50px;
    width: 900px;
    box-sizing: border-box;
    border: 1px solid rgba(163, 157, 157, 0.5);
    width: 50%;
}

#menu li:hover ul 
{
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}

ul li 
{
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

li 
{
    float: left;
    margin:auto;
    padding:0;
}
  
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: #111;
}

.footer
{
    background-color: #333;
}

.footer p
{
    color: white;
    margin: 0px;
    padding: 0px;
}

article
{
    background-color: #333;
    background: rgb(236, 236, 222);
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* Contact */
#formulaire
{
    background-color: #333;
    color: white;
}

fieldset
{
    min-width: 100%;
}

legend
{
    font-size: 24px;
}

input:focus
{
    border: 2px solid rgb(18, 66, 128);
}

input:not(:focus):invalid
{
    border: 2px dashed red;
}

.envoyer
{
    background: rgb(75, 72, 72);
    color: ivory;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 5px;
    float: right;
    
}

.envoyer:hover
{
    transform: scale(1.15);
}

label 
{
    display: inline-block;
    width: 1500px;
    vertical-align: top;
    
}

textarea
{
    overflow-y:scroll;
    resize: none;
    font-size: 19px;
}

#case
{
    display: inline-block;
    width: 240px;
}